@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);



*{
    font-family: 'Outfit';
    box-sizing: border-box;
    background-color: rgb(23,23,26);
    color: whitesmoke;
}

.App{
    padding-top: 20vh;
}

.cryptoItem{
    width: 100%;
    /* height: 30px; */
    /* border: limegreen 1px solid; */
    padding: 35px;
    border-bottom: 1px rgb(4, 51, 82) solid;
}

.cryptoItem p {
    background-color: transparent;
}

.cryptoItem strong {
    background-color: transparent;
}


.cryptoItem:hover{
    background-color: #1b1e27;
}

.cryptoContainer{
    max-width: 1200px;
}

.coinImg{
    max-height: 45px;
    max-width: 45px;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite;
}



.calc__btn{
    background-color: transparent;
    border: #f3f3f377 solid 1px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50%{width: 120px; height: 120px;}
    100% { transform: rotate(360deg); }
    
}


@media only screen and (min-width : 1824px) {
    .cryptoContainer{
        width: 1400px;
    }
    img{
        width: 45px;
        height: 45px;
    }
}

@media only screen and (min-width : 1224px) {
    .cryptoContainer{
        width: 1000px;
    }

    .coinImg {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .cryptoContainer{
        width: 700px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .cryptoContainer{
        width: 700px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cryptoContainer{
        width: 99%;
    }

    .cryptoContainer p {
        font-size: 0.5em;
    }

    .cryptoContainer h3{
        font-size: 0.7em;
    }

    .coinImg{
        width: 25px;
        height: 25px;
    }

    .cryptoItem{
        padding: 15px;
    }

    .cxx{
        flex-wrap: wrap;
    }

    .App{
        padding-top: 10vh;
    }
}

